/* Login.css */

body {
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background-color:black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login h1 {
    margin-bottom: 20px;
    color: #333;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login input[type="email"],
.login input[type="password"],
.login input[type="submit"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.login input[type="submit"] {
  
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.login p {
    margin: 15px 0;
    color: #666;
}

.login a {
    color:black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login a:hover {
    color: black;
}
